<div class="container">
    <div class="row">
        <div class="grid-3-9">

            <a href="{{ path('homepage') }}">LOGO</a>

            <nav id="main_nav" class="nav">
                <ul class="unstyled">
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                </ul>
            </nav>
            <aside id="social">
                <ul class="unstyled">
                    <li><a href="#">FB</a></li>
                    <li><a href="#">TW</a></li>
                    <li><a href="#">G+</a></li>
                </ul>
            </aside>

        </div>
    </div>
</div>