/* Created by Kevin Carnaille - 30/07/2015 */

@widthSite = 1020px;
@maincolor1 = #898989;

body{
  background-color: #dedede;

  .container{
    width: @widthSite;
    margin: auto;
    h1{
      color: @maincolor1;
    }

  }

}

