/* Created by Kevin Carnaille - 30/07/2015 */
/* Created by Kevin Carnaille - 30/07/2015 */
body {
  background-color: #dedede;
}
body .container {
  width: 1030px;
  margin: auto;
}
body .container h1 {
  color: #898989;
}
