{% extends 'MyStaticBundle::layout.html.twig' %}

{% block title %}{{ menu.homepage }}{% endblock %}
{% block title_meta %}{{ menu.homepage }}{% endblock %}
{% block keywords_meta %}{{ menu.homepage }}{% endblock %}
{% block description_meta %}{{ menu.homepage }}{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="grid-12"><h1>HOMEPAGE</h1></div>
        </div>
    </div>
{% endblock %}