{% extends 'MyStaticBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="grid-12"><h1>PRODUCTS</h1></div>
        </div>
    </div>
{% endblock %}